---
layout: base.njk
pagination:
  data: github.governance
  size: 1
  alias: document
permalink: /governance/{{ document.path | slugify }}/
---

<div class="grid grid-cols-4 gap-4 bg-base-100 min-h-screen">
  <aside class="sticky hidden lg:block left-0 top-16 h-screen p-10 overflow-auto">
  </aside>
  <main class="col-span-4 md:col-span-3 lg:col-span-2">
    <article class="p-10 pb-20">
      <figure class="mb-5 md:mb-10">
        <img
          class="w-20"
          src="https://raw.githubusercontent.com/redbrick/design-system/main/assets/logos/redbrick.svg"
        />
      </figure>
      <div class="prose min-w-full">
        {{ document.content | safe }}
      </div>
    </article>
  </main>
  <aside class="sticky hidden md:block right-0 top-16 h-screen p-10 pt-6 overflow-auto">
    <header class="font-semibold pb-4">In this document</header> 
    {{ document.content | toc | safe }}
  </aside>
</div>