<section class="bg-base-100 p-5 md:p-10 flex flex-col md:flex-row-reverse justify-between items-center gap-10">
  <div class="mockup-code max-w-sm lg:max-w-lg text-sm lg:text-lg mx-auto -mt-12 lg:-mt-24">
    <pre data-prefix="~$" class="text-success"><code>ssh foo@redbrick.dcu.ie</code></pre>
    <pre data-prefix=">"><code>foo@redbrick.dcu.ie's password:</code></pre>
    <pre data-prefix=">"></pre>
    <pre data-prefix=">" class="text-info"><code>-----[ Welcome to Redbrick! ]-----</code></pre>
    <pre data-prefix=">" class="text-info"><code>-----[ Logged onto: Azazel  ]-----</code></pre>
    <pre data-prefix=">"></pre>
    <pre data-prefix=">"><code>Storage report for foo <strong class="text-error">Redbrick</strong> account:</code></pre>
    <pre data-prefix=">"><code>Storage: |<strong class="text-success">===</strong>=================| <strong class="text-info">15%</strong></code></pre>
    <pre data-prefix="~$" class="text-success"></pre>
  </div>
  <div class="max-w-sm lg:max-w-xl text-center md:text-start">
    <h2 class="text-2xl sm:text-3xl font-bold">
      Services
    </h2>
    <p class="mt-4 sm:text-lg/relaxed">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illo tenetur fuga ducimus
      numquam ea!
    </p>
  </div>
</section>