<div class="hero min-h-screen bg-base-100">
  <div class="hero-content text-center">
    <div class="max-w-lg">
      <p class="text-primary text-sm font-bold">Error 404</p>
      <h1 class="text-4xl font-bold py-6">We can't find that page</h1>
      <p class="text-base/relaxed">Sorry, the page you are looking for doesn't exist or has been moved.</p>
      <img src="https://cdn.redbrick.dcu.ie/atlas/static/img/nyan.webp" alt="Nyan Cat" class="mt-5"/>
    </div>
  </div>
</div>
