---
layout: base.njk
---
<div class="drawer">
  <input id="drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    {% include "partials/header.njk" %}
    {{ content | safe }}
    {% include "partials/footer.njk" %}
  </div>
  {% include "partials/drawer.njk" %}
</div>