---
layout: default.njk
collection: all
outline: On this page
---
<div class="md:drawer-open grid grid-cols-4 gap-4 bg-base-100 min-h-screen">
  <aside class="sticky hidden lg:block left-0 top-16 h-screen p-5 pb-16 overflow-auto bg-base-100 border-r border-white/5">
    <nav class="menu">
      {{ collections[collection] | eleventyNavigation | renderTree | safe }}
    </nav>
  </aside>
  <main class="col-span-4 md:col-span-3 lg:col-span-2">
    <article data-pagefind-body data-pagefind-meta="title:{{ title }}" class="p-10 pb-20">
      {{ content | safe }}
    </article>
  </main>
  <aside class="sticky hidden md:block right-0 top-16 h-screen p-5 overflow-auto bg-base-100">
    <nav class="menu">
      <li>
        <header class="menu-title">{{ outline }}</header>
        <ul>
          {{ content | toc | safe }}
        </ul>
      </li>
    </nav>
  </aside>
</div>