@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  /* Prose heading anchors */

  .anchor {
    @apply scroll-pt-16 no-underline before:invisible before:inline-block before:content-['#'] before:w-[0.8em] before:-ml-[0.8em] before:text-base-content/30;
  }

  .anchor:hover {
    @apply underline before:visible before:no-underline;
  }

  :target {
    @apply scroll-mt-20 snap-start;
  }

  /* Home */

  .hero-card {
    @apply absolute shadow-xl shadow-slate-800/30 rounded-lg transform -rotate-x-[10deg] -rotate-y-[20deg];
  }

  .gallery-card {
    @apply shadow-xl shadow-slate-800/30 rounded bg-cover bg-center;
  }
}

/* reset some black theme defaults */
[data-theme="black"] {
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-focus-scale: 0.95;
  --tab-radius: 0.5rem;
}
