<div class="hero-overlay bg-black bg-opacity-60 p-5"></div>
<div class="-z-10 grid grid-cols-12 grid-rows-12 gap-3 size-full p-5">
  {% for _, url in site.home.cta.gallery -%}
    <div class="gallery-card row-span-4 col-span-4" style="background-image: url('{{ url }}')">
    </div>
  {%- endfor %}
</div>
