<div class="py-10">
  <is-land on:idle>
    <template data-island="replace">
      <script src="https://giscus.app/client.js"
        data-repo="cs-soc-tudublin/blog"
        data-repo-id="R_kgDOMQHCxA"
        data-category="Blog"
        data-category-id="DIC_kwDOLKbwnM4CdBDs"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="dark_dimmed"
        data-lang="en"
        crossorigin="anonymous"
        async>
      </script>
    </template>
  </is-land>
</div>