---
layout: markdown.njk
collection: blog
outline: In this article
---

{% if author %}
<div>
  <div class="inline-block pb-6">
    {% for tag in tags %}
    <span class="badge">#{{ tag }}</span>
    {% endfor %}
  </div>
  <h1 class="text-3xl font-bold">{{ title }}</h1>
  <div class="inline-block py-4">
    <span class="font-mono badge badge-lg badge-ghost">@{{ author }}</span>
    {% if created %}
    <span data-pagefind-ignore class="badge badge-lg badge-ghost">
      📆 {{ created | readable }}
    </span>
    {% endif %}
    <span data-pagefind-ignore class="badge badge-lg badge-ghost">
      🍿 {{ content | readingTime }}
    </span>
  </div>
  <div class="divider"></div>
</div>
{% endif %}
<div class="prose min-w-full">
  {{ content | safe }}
</div>
{% if author %}
{% include "blog/giscus.njk" %}
{% endif %}
