---
layout: markdown.njk
collection: open-governance
outline: In this document
---

{% set tags = [
  { text: "🔨 Created", value: created },
  { text: "✏️ Last Edited", value: modified }
] %}

<div class="prose min-w-full">
  {% if created and modified %}
    <div class="inline-block py-4">
      {% for tag in tags %}
        <span data-pagefind-ignore class="badge badge-lg badge-ghost">
          <span class="font-bold">{{ tag.text }}:</span>
          <span class="font-normal ml-1">{{ tag.value | readable }}</span>
        </span>
      {% endfor %}
    </div>
  {% endif %}
  {{ content | safe }}
</div>
