---
title: CS++
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/assets/main.css" />
    <title>{{ title }}</title>

    <meta property="og:type" content="website" >
    <meta property="og:url" content="https://cspp.ie/" />
    <meta property="og:title" content="{{site.society.name}}" >
    <meta property="og:description" content="{{site.society.tagline}}" >
    <meta property="og:image" content="{{site.images.embed}}" />
    <meta property="og:image:type" content="image/png" >
    <meta property="og:image:width" content="120" >
    <meta property="og:image:height" content="63" >

    <script defer data-domain="cspp.ie" src="https://plausible.cspp.ie/js/script.file-downloads.outbound-links.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>


    <script src="https://cdn.jsdelivr.net/npm/ua-parser-js@1.0.37/src/ua-parser.min.js"></script>
    <script>
      window.userAgent = new UAParser()
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/TextPlugin.min.js"></script>

    <link rel="stylesheet" href="https://raw.githubusercontent.com/cs-soc-tudublin/IdentityFlip/master/assets/fonts/montserrat/loader.css" />
    {# Preload fonts instead of waiting until they are needed by CSS #}
    <link rel="preload" href="https://raw.githubusercontent.com/cs-soc-tudublin/IdentityFlip/master/assets/fonts/montserrat/regular/Montserrat-Regular.ttf" as="font" crossorigin />
    <link rel="preload" href="https://raw.githubusercontent.com/cs-soc-tudublin/IdentityFlip/master/assets/fonts/montserrat/bold/Montserrat-Bold.ttf" as="font" crossorigin />
    <link rel="preload" href="https://raw.githubusercontent.com/cs-soc-tudublin/IdentityFlip/master/assets/fonts/montserrat/semibold/Montserrat-Semibold.ttf" as="font" crossorigin />

    <meta name="importmap-type" content="systemjs-importmap" />
    <script type="systemjs-importmap" src="/import-map.json"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/import-map-overrides@3.1.1/dist/import-map-overrides.min.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js" defer></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@11ty/is-land@4.0.0/is-land.min.js" defer></script>
  </head>
  {{ content | safe }}
</html>