<div class="relative -z-20 perspective-1600 w-full md:w-1/2 aspect-square">
  <img
    class="hero-card bottom-[62%] left-[12%] h-[32%]"
    src="/assets/img/agm2324.webp"
    alt="2023 AGM"
    data-hero-card
  />
  <img
    class="hero-card bottom-[66%] left-[35%] h-[10%]"
    src="/assets/img/davidyay.webp"
    alt="Happy David"
    data-hero-card
  />
  <img
    class="hero-card bottom-[18%] left-[14%] h-[26%]"
    src="/assets/img/cwg22-sven.webp"
    alt="CoolFlip"
    data-hero-card
  />
  <img
    class="hero-card bottom-[12%] left-[58%] h-[22%]"
    src="/assets/img/hackathon24.webp"
    alt="Hackathon 2024"
    data-hero-card
  />
  <img
    class="hero-card bottom-[48%] left-[64%] h-[35%]"
    src="/assets/img/coolflip.webp"
    alt="Sven Co-Op Championships"
    data-hero-card
  />
  <img
    class="absolute bottom-[75%] left-[60%] h-[10%]"
    src="/assets/img/ruanshock.webp"
    alt="Shocked Ruán"
    data-hero-card
  />
  <img
    class="absolute bottom-[45%] left-[38%] h-[20%]"
    src="{{ site.images.roundel }}"
    alt="CS++ Logo"
    data-hero-card
  />
</div>
<script>
  gsap.from("[data-hero-card]", {
    opacity: 0,
    scale: 0,
    y: 50,
    delay: 0.5,
    ease: "elastic(1,1)",
    duration: 1.25,
    stagger: 0.2
  })
</script>