<section class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-xl">
      <h1 class="text-3xl sm:text-5xl font-bold">
        Home of Open Source.
        <strong class="text-primary sm:block">Become a Member.</strong>
      </h1>
      <p class="mt-4 sm:text-xl/relaxed">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illo tenetur fuga ducimus
        numquam ea!
      </p>
      <div class="mt-8 flex flex-wrap justify-center gap-4">
        <a class="btn btn-primary w-full sm:w-36" href="https://dcuclubsandsocs.ie/society/redbrick" rel="noreferrer" target="_blank">
          Signup
        </a>
        <a class="btn btn-neutral w-full sm:w-36" href="https://discord.redbrick.dcu.ie" rel="noreferrer" target="_blank">
          Discord
        </a>
      </div>
    </div>
  </div>
</section>