<div class="drawer-side z-20">
  <label for="drawer" aria-label="close sidebar" class="drawer-overlay"></label>
  <aside class="px-5 py-16 h-screen w-80 max-w-screen overflow-auto bg-base-100 bg-opacity-90 backdrop-blur border-r border-white/5 shadow-md"> 
    <nav tabindex="0" class="menu">
      <li>
        <header class="menu-title">Redbrick</header>
        {% for entry in site.navigation.global %}
        <li><a href="{{ entry.link }}">{{ entry.text }}</a></li>
        {% endfor %}
      </li>
      {% if page.url and "/open-governance/" in page.url %}
      <header class="menu-title">Open Governance</header>
      {{ collections['open-governance'] | eleventyNavigation | renderTree | safe }}
      {% elif page.url and "/blog/" in page.url %}
      <header class="menu-title">Blog</header>
      {{ collections['blog'] | eleventyNavigation | renderTree | safe }}
      {% endif %}
    </nav>
  </aside>
</div>