<section class="relative hero min-h-50%">
  <img class="absolute inset-0" src="https://cdn.redbrick.dcu.ie/atlas/static/img/spotlight-bg.webp" alt="" />
  <div class="absolute inset-0 -z-50 bg-base-200"></div>
  <div class="hero-content px-5 py-10 lg:py-20 h-full w-full flex-col md:flex-row" id="about">
    <div class="max-w-md lg:max-w-2xl text-center md:text-start">
      <h1 class="text-3xl lg:text-5xl font-bold">
        About Us
      </h1>
      <p class="mt-4 text-md/relaxed">
        <i>"What is Redbrick?"</i> - this is the age-old query which has plagued the DCU Networking Society for years.
        Redbrick
        is such a diverse society that a million monkeys working on a million typewriters for a million years might
        reproduce the works of Shakespeare, but they'll never come up with a concise explanation as to what Redbrick is.
      </p>
      <p class="mt-4 text-md/relaxed">
        Simply put, Redbrick is a rather big social society with a slant on computers and technology. We host a plethora
        of techy events designed to entertain and educate anyone and everyone, including cinema trips, pub nights and
        tutorials and workshops on programming, web design and graphic design. Expect to see the return of the annual
        RedBrick Freshers' Ball (booze! booze! booze!) and the table quiz; last year, the quiz saw members having prizes
        practically thrown at them, with Sega Mega Drives, portable hard drives, Lucky Charms cereal and plenty of spot
        prizes being won. We also raffled off a brand new Eee PC laptop.
      </p>
      <p class="mt-4 text-md/relaxed">
        At the start of 2009, over twenty Brickies went to Finland - birthplace of the Linux kernel - to mess about in
        massive technology museums, employ stealth and cunning in a battle to snow each other into our cabins and feast
        on reindeer and mead in a Viking restaurant (all while being quite drunk).
      </p>
      <p class="mt-4 text-md/relaxed">
        Redbrick isn't just about events though; we are lucky enough to own our own servers on which we host the
        services used daily by our members: IRC <i>(Internet Relay Chat - our most popular service, as it's great for
          putting off assignments until the last minute, waffling about whatever's on your mind and meeting new
          people)</i>,webspace <i>(host your own website with massive amounts of storage space)</i>, forums/message
        boards, the photo
        gallery and your own @redbrick.dcu.ie e-mail address. We also have our own <a
          href="https://wiki.redbrick.dcu.ie"><strong>wiki site</strong></a>,
        where all members can create/edit<s>/vandalise</s> pages on whatever you feel like. You can access all of these
        services from any computer connected to the Internet.
      </p>
      <p class="mt-4 text-md/relaxed">
        Networking societies are to be found all over the country, and Redbrick - as part of the Intersocs network - is
        often found mingling with other nerds from Trinity, DIT, NUI Maynooth and University of Limerick, both at
        Intersocs events and in the IRC channel.
      </p>
      <p class="mt-4 text-md/relaxed">
        So, if you want to make new friends, talk about anything that's on your mind, or just get twisted because you
        have nothing better to do with your time, RedBrick has something to offer you!
      </p>
    </div>
    <div class="relative -z-20 perspective-1600 w-full md:w-1/2 aspect-square">
      <!-- <img class="hero-card bottom-[62%] left-[12%] h-[32%]" -->
      <!--   src="https://cdn.redbrick.dcu.ie/atlas/static/img/newsletter-snap.webp" alt="Baxter, Browner and Magma" -->
      <!--   data-hero-card /> -->
      <!-- <img class="hero-card bottom-[66%] left-[35%] h-[10%]" -->
      <!--   src="https://media.discordapp.net/stickers/1170064614973788270.png" alt="Distro bopping" data-hero-card /> -->
      <!-- <img class="hero-card bottom-[18%] left-[14%] h-[26%]" -->
      <!--   src="https://cdn.redbrick.dcu.ie/atlas/static/img/sistem-banner.webp" alt="SISTEM" data-hero-card /> -->
      <!-- <img class="hero-card bottom-[12%] left-[58%] h-[22%]" -->
      <!--   src="https://cdn.redbrick.dcu.ie/atlas/static/img/sistem-mag1c.webp" alt="SISTEM Crew" data-hero-card /> -->
      <!-- <img class="hero-card bottom-[48%] left-[64%] h-[35%]" -->
      <!--   src="https://cdn.redbrick.dcu.ie/atlas/static/img/mail-broke.webp" alt="Mail broke" data-hero-card /> -->
      <!-- <img class="absolute bottom-[75%] left-[60%] h-[10%]" src="{{ site.images.emote.src }}" alt="{{ site.images.emote.alt }}" -->
      <!--   data-hero-card /> -->
      <img class="absolute left-[5%] h-[80%]" src="{{ site.images.brick.src }}" alt="{{ site.images.brick.alt }}"
        data-hero-card />
    </div>
    <!-- <br> -->
    <!-- <h1 class="text-3xl lg:text-5xl font-bold"> -->
    <!--   Servers -->
    <!-- </h1> -->
    <!-- <p class="mt-4 text-md/relaxed"> -->
    <!--   When you connect to Redbrick, you are creating a remote connection to our servers, most likely minerva (the main -->
    <!--   login machine). This uses SSH, or Secure Shell, to encrypt data and allow you to use your user account as though -->
    <!--   you were sitting at the actual machine. Click here to get connected to Redbrick. -->
    <!-- </p> -->
    <!-- <p class="mt-4 text-md/relaxed"> -->
    <!--   Our servers all run Unix-like operating systems, the most common being Ubuntu (a distribution of GNU/Linux). -->
    <!--   There is no graphical interface and everything is done by keyboard. There are plans for a Windows machine to -->
    <!--   facilitate .NET and other such development, which should be available soon. -->
    <!-- </p> -->
    <!-- <p class="mt-4 text-md/relaxed"> -->
    <!--   For more information on the machines, please see the inventory. -->
    <!-- </p> -->
    <!-- <br> -->
    <!-- <h1 class="text-3xl lg:text-5xl font-bold"> -->
    <!--   Services -->
    <!-- </h1> -->
    <!-- <p class="mt-4 text-md/relaxed"> -->
    <!--   Redbrick hosts a wide range of services from the standard email and webspace to the more obscure, such as the -->
    <!-- </p> -->
  </div>
</section>
