<section class="relative hero min-h-50%">
  <img class="absolute inset-0" src="https://cdn.redbrick.dcu.ie/atlas/static/img/spotlight-bg.webp" alt="" />
  <div class="absolute inset-0 -z-50 bg-base-200"></div>
  <div class="hero-content px-5 py-10 lg:py-20 h-full w-full flex-col md:flex-row" id="about">
    <div class="max-w-md lg:max-w-2xl text-center md:text-start">
      <h1 class="text-3xl lg:text-5xl font-bold">
        About Us
      </h1>
      <div class="mt-4 text-md prose whitespace-normal">
        {{ includeMarkdown("./src/_includes/home/sections/about.md") | safe }}
      </div>
    </div>
    {# <div class="relative -z-20 perspective-1600 w-full md:w-1/2 aspect-square"> #}
      <!-- <img class="hero-card bottom-[62%] left-[12%] h-[32%]" -->
      <!--   src="https://cdn.redbrick.dcu.ie/atlas/static/img/newsletter-snap.webp" alt="Baxter, Browner and Magma" -->
      <!--   data-hero-card /> -->
      <!-- <img class="hero-card bottom-[66%] left-[35%] h-[10%]" -->
      <!--   src="https://media.discordapp.net/stickers/1170064614973788270.png" alt="Distro bopping" data-hero-card /> -->
      <!-- <img class="hero-card bottom-[18%] left-[14%] h-[26%]" -->
      <!--   src="https://cdn.redbrick.dcu.ie/atlas/static/img/sistem-banner.webp" alt="SISTEM" data-hero-card /> -->
      <!-- <img class="hero-card bottom-[12%] left-[58%] h-[22%]" -->
      <!--   src="https://cdn.redbrick.dcu.ie/atlas/static/img/sistem-mag1c.webp" alt="SISTEM Crew" data-hero-card /> -->
      <!-- <img class="hero-card bottom-[48%] left-[64%] h-[35%]" -->
      <!--   src="https://cdn.redbrick.dcu.ie/atlas/static/img/mail-broke.webp" alt="Mail broke" data-hero-card /> -->
      <!-- <img class="absolute bottom-[75%] left-[60%] h-[10%]" src="{{ site.images.emote.src }}" alt="{{ site.images.emote.alt }}" -->
      <!--   data-hero-card /> -->
      {# <img class="absolute left-[5%] h-[80%]" src="{{ site.images.brick.src }}" alt="{{ site.images.brick.alt }}"
        data-hero-card /> #}
    {# </div> #}
    <!-- <br> -->
    <!-- <h1 class="text-3xl lg:text-5xl font-bold"> -->
    <!--   Servers -->
    <!-- </h1> -->
    <!-- <p class="mt-4 text-md/relaxed"> -->
    <!--   When you connect to Redbrick, you are creating a remote connection to our servers, most likely minerva (the main -->
    <!--   login machine). This uses SSH, or Secure Shell, to encrypt data and allow you to use your user account as though -->
    <!--   you were sitting at the actual machine. Click here to get connected to Redbrick. -->
    <!-- </p> -->
    <!-- <p class="mt-4 text-md/relaxed"> -->
    <!--   Our servers all run Unix-like operating systems, the most common being Ubuntu (a distribution of GNU/Linux). -->
    <!--   There is no graphical interface and everything is done by keyboard. There are plans for a Windows machine to -->
    <!--   facilitate .NET and other such development, which should be available soon. -->
    <!-- </p> -->
    <!-- <p class="mt-4 text-md/relaxed"> -->
    <!--   For more information on the machines, please see the inventory. -->
    <!-- </p> -->
    <!-- <br> -->
    <!-- <h1 class="text-3xl lg:text-5xl font-bold"> -->
    <!--   Services -->
    <!-- </h1> -->
    <!-- <p class="mt-4 text-md/relaxed"> -->
    <!--   Redbrick hosts a wide range of services from the standard email and webspace to the more obscure, such as the -->
    <!-- </p> -->
  </div>
</section>
