<section class="bg-base-100">
  <div class="max-w-5xl p-5 md:p-10 mx-auto">
    <div class="grid grid-cols-2 md:grid-cols-3 gap-5 md:gap-10">
      {% for member in sections.committee -%}
      <div class="flex flex-col items-center col-span-1">
        <h2 data-committee-title="{{ member.position }}" class="font-mono font-bold md:text-lg h-10">{{ member.position}}</h2>
        <div class="indicator overflow-visible">
          <span data-committee-stagger class="badge badge-primary lg:badge-lg px-2 indicator-item indicator-start -translate-x-[10%] -translate-y-1/4 shadow">
            <small class="font-mono text-white text-xs lg:text-sm">
              @{{ member.username }}
            </small>
          </span>
          <div data-committee-stagger class="relative rounded-xl shadow-xl shadow-slate-900/30 overflow-hidden">
            <img class="-z-10 aspect-square size-60 max-w-[40vw] object-cover object-center" src="{{ member.image }}" alt="{{ member.name }}" />
            <div class="absolute bottom-0 w-full p-2 bg-base-200 bg-opacity-75 backdrop-blur-sm">
              <p class="text-center md:text-lg">
                {{ member.name }}
              </p>
            </div>
          </div>
        </div>
      </div>
      {%- endfor %}
    </div>
  </div>
</section>
<script>
  const device = userAgent.getDevice()
  if (!device.type) { // is a desktop device
    gsap.registerPlugin(ScrollTrigger)
    gsap.registerPlugin(TextPlugin)
    gsap.set("[data-committee-stagger]", {
      scale: 0.9,
      opacity: 0,
    })
    gsap.set("[data-committee-title]", {
      text: "",
    })
    ScrollTrigger.batch("[data-committee-stagger]", {
      once: true,
      onEnter: (elements) => {
        gsap.to(elements, {
          scale: 1,
          opacity: 1,
          stagger: 0.2,
          duration: 0.3,
          ease: "power2.inOut",
        })
      },
    })
    ScrollTrigger.batch("[data-committee-title]", {
      once: true,
      onEnter: (elements) => elements.forEach((element, i) => {
        gsap.to(element, {
          text: element.dataset.committeeTitle,
          duration: 0.75,
          delay: 0.25 + (i * 0.2),
        })
      }),
    })
  }
</script>