<section data-zoom-trigger class="relative hero h-screen overflow-hidden">
  <div class="hero-content text-center">
    <div class="max-w-xl">
      <h1 class="text-white text-shadow text-3xl lg:text-5xl font-bold mb-2 lg:mb-4">
        {{ sections.cta.title }}
      </h1>
      <p class="text-white text-shadow sm:text-lg/relaxed mb-8">
        {{ sections.cta.body }}
      </p>
      <button
        class="btn btn-primary shadow-lg w-full sm:w-36"
        href="{{ sections.cta.button.link }}"
        rel="noreferrer"
        target="_blank"
      >
        {{ sections.cta.button.text }}
      </button>
    </div>
  </div>
  {% include "home/sections/cta/gallery.njk" %}
  <div class="absolute inset-0 -z-30 bg-base-content [mask-image:url(/assets/svg/grid-bg.svg)]"></div>
  <div class="absolute inset-0 -z-50 bg-base-200"></div>
</section>