<section class="relative hero min-h-50%">
  <div
    class="absolute inset-0 -z-40 bg-base-content [mask-image:url(https://cdn.redbrick.dcu.ie/atlas/static/svg/grid-bg.svg)]">
  </div>
  <div class="absolute inset-0 -z-50 bg-base-200"></div>
  <div
    class="hero-content px-5 py-5 lg:py-10 w-full flex-col md:flex-row-reverse gap-10 lg:gap-20 items-center justify-between"
    id="events">
    <div class="max-w-md lg:max-w-2xl text-center md:text-start z-10">
      <h1 class="text-3xl lg:text-5xl font-bold">
        {{ site.home.events.heading }}
      </h1>
      <p class="mt-4 text-md/relaxed">
        Redbrick hosts a variety of events throughout the year, from LAN parties to workshops and talks...
      </p>
    </div>
    <div class="relative z-10 perspective-1600 w-full md:w-1/2 aspect-square">
      <img
        class="hero-card absolute bottom-[62%] left-[12%] h-[32%] object-contain drop-shadow-2xl hover:-translate-y-2 hover:scale-105"
        src="{{ site.home.events.graphic.image1.image }}" alt="{{ site.home.events.graphic.image1.alt }}"
        data-events-img />
      <img
        class="hero-card absolute bottom-[30%] left-[35%] h-[50%] object-contain drop-shadow-2xl hover:-translate-y-2 hover:scale-105"
        src="{{ site.home.events.graphic.image2.image }}" alt="{{ site.home.events.graphic.image2.alt }}"
        data-events-img />
      <img
        class="hero-card absolute bottom-[10%] left-[10%] h-[26%] object-contain drop-shadow-2xl hover:-translate-y-2 hover:scale-105"
        src="{{ site.home.events.graphic.image3.image }}" alt="{{ site.home.events.graphic.image3.alt }}"
        data-events-img />
      <img
        class="hero-card absolute bottom-[10%] left-[50%] h-[22%] object-contain drop-shadow-2xl hover:-translate-y-2 hover:scale-105"
        src="{{ site.home.events.graphic.image4.image }}" alt="{{ site.home.events.graphic.image4.alt }}"
        data-events-img />
    </div>
  </div>
</section>
<script>
  gsap.registerPlugin(ScrollTrigger)
  gsap.from("[data-events-img]", {
    scrollTrigger: {
      trigger: "#events",
      start: "top 75%",
    },
    opacity: 0,
    scale: 0,
    y: 50,
    delay: 0.2,
    ease: "elastic(1,1)",
    duration: 1.25,
    stagger: 0.2,
    clearProps: "transform",
    onComplete: function() {
      this.targets().forEach(el => el.classList.add("transition-transform", "duration-300"));
    }
  })
</script>
