<section class="bg-base-100">
  <h1 class="text-white text-shadow text-xl lg:text-3xl font-bold mb-2 lg:mb-4 text-center">
    {{site.society.name}} is proudly sponsored by:
  </h1>
  <div class="flex p-5 md:p-10 space-x-5 md:space-x-10 overflow-x-scroll flex flex-col items-center">
    {% for sponsor in site.home.sponsors -%}
    <div data-sponsor-trigger class="flex flex-col items-center">
      <h2 data-sponsor-title="{{ sponsor.tier }}" class="font-mono font-bold text-sm md:text-md h-10 whitespace-nowrap">
        {{ sponsor.tier}}
      </h2>
      <div data-sponsor-card class="indicator overflow-visible">
        <div class="relative overflow-hidden">
          <a href="{{ sponsor.link }}">
            <img class="-z-10 w-40 object-cover object-center" src="{{ sponsor.image }}" alt="{{ sponsor.name }}" />
            <div class="bottom-0 w-full p-2 sponsor-name">
              <p class="text-center md:text-lg">
                {{ sponsor.name }}
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
    {%- endfor %}
  </div>
  <h1 class="text-white text-shadow text-xl lg:text-xl italic mb-2 lg:mb-4 text-center">
    Want to be part of something great? Get in touch!
  </h1>
</section>
<script>
  if (!userAgent.getDevice().type) { // is a desktop device
    gsap.registerPlugin(ScrollTrigger)
    gsap.registerPlugin(TextPlugin)
    gsap.set("[data-sponsor-card]", {
      scale: 0.9,
      opacity: 0,
    })
    gsap.set("[data-sponsor-title]", {
      text: "",
    })
    ScrollTrigger.batch("[data-sponsor-trigger]", {
      once: true,
      end: "bottom bottom",
      onEnter: (batch) => batch.forEach((element, i) => {
        const stagger = 0.2
        const cardElement = element.querySelector("[data-sponsor-card]")
        const titleElement = element.querySelector("[data-sponsor-title]")
        gsap.to(cardElement, {
          scale: 1,
          opacity: 1,
          duration: 0.3,
          ease: "power2.inOut",
          delay: i * stagger,
        })
        gsap.to(titleElement, {
          text: titleElement.dataset.sponsorTitle,
          duration: 0.75,
          delay: 0.25 + (i * stagger),
        })
      }),
    })
  }
</script>