{% from "partials/sidebar.njk" import sidebar %}

<div class="drawer-side overflow-none">
  <label for="drawer" aria-label="close sidebar" class="drawer-overlay"></label>
  <aside class="px-5 py-16 h-screen w-80 max-w-screen overflow-auto bg-base-100 bg-opacity-90 backdrop-blur border-r border-white/5 shadow-md"> 
    <nav tabindex="0" class="menu">
      <li>
        <header class="menu-title">Redbrick</header>
        {% for link in navbar %}
        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
        {% endfor %}
      </li>
      {% if "/open-governance/" in page.url %}
      <li>
        <header class="menu-title">Open Governance</header>
        {{ collections['open-governance'] | eleventyNavigation | eleventyNavigationToHtml | safe }}
      </li>
      {% elif "/blog/" in page.url %}
      <li>
        <header class="menu-title">Blog</header>
        {{ collections['blog'] | eleventyNavigation | eleventyNavigationToHtml | safe }}
      </li>
      {% endif %}
    </nav>
  </aside>
</div>