<div class="relative -z-20 perspective-1000 w-full md:w-1/2 aspect-square border border-red-500 border-dashed">
  <img
    class="hero-card bottom-[55%] left-[20%] h-[35%]"
    src="https://lh3.googleusercontent.com/d/1QOuHdffYBvIq_OMEULQyjllpZv-pQsS4"
    alt="Mail broke"
  />
  <img
    class="hero-card bottom-[10%] left-[35%] h-[35%]"
    src="https://lh3.googleusercontent.com/d/1QOuHdffYBvIq_OMEULQyjllpZv-pQsS4"
    alt="Mail broke"
  />
  <img
    class="hero-card bottom-[50%] left-[55%] h-[35%]"
    src="https://lh3.googleusercontent.com/d/1QOuHdffYBvIq_OMEULQyjllpZv-pQsS4"
    alt="Mail broke"
  />
</div>
<script>
  gsap.fromTo(".hero-card", {
    opacity: 0,
    scale: 0,
    y: 100
  }, {
    opacity: 1,
    scale: 1,
    y: 0,
    ease: "elastic.out(1,1)",
    duration: 1.25,
    stagger: 0.3
  })
</script>