<div class="relative -z-20 perspective-1000 size-full">
  <img
    class="hero-card top-[6rem] right-[24rem] h-48"
    src="https://lh3.googleusercontent.com/d/1QOuHdffYBvIq_OMEULQyjllpZv-pQsS4"
    alt="Mail broke"
  />
  <img
    class="hero-card top-[21rem] right-[20rem] h-48"
    src="https://lh3.googleusercontent.com/d/1QOuHdffYBvIq_OMEULQyjllpZv-pQsS4"
    alt="Mail broke"
  />
  <img
    class="hero-card top-[8rem] right-[10rem] h-48"
    src="https://lh3.googleusercontent.com/d/1QOuHdffYBvIq_OMEULQyjllpZv-pQsS4"
    alt="Mail broke"
  />
</div>
<script>
  gsap.fromTo(".hero-card", { opacity: 0, scale: 0, y: 100 }, { opacity: 1, scale: 1, y: 0, ease: "elastic.out(1,1)", duration: 1.25, stagger: 0.3 });
</script>