
{% macro sidebar(header, data, current) %}
<li>
  <header class="menu-title">{{ header }}</header>
  {% set navigation = data | blobsToNavigation %}
  {% for category, entries in navigation %}
  <li>
    <details open>
      <summary>{{ category | capitalize }}</summary>
      <ul>
        {% for entry in entries %}
        <li>
          <a {% if entry.url in current %}class="active"{% endif %} href="{{ entry.url }}">{{ entry.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </details>
  </li>
  {% endfor %}
</li>
{% endmacro %}
